<div class="dock">
    <div class="container">
        <div class="row">
            <div class="text-box">
                <img src="/media/bullet-crop.png">
                <div class="title">Client Results</div>
                <h2>Our client increased dock utilization 
                while saving over $50M in Capex</h2>
                <p>by leveraging data to optimize operations and avoid unnecessary 
                infrastructure expansion.</p>
                <button><span>Learn More</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="25" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>