<div class="expert">
        <div class="row">
            <div class="col-lg-6 info-box-left">
                <p>
                    We’re an expert group of 
                    diverse people that knows 
                    how to leverage technology 
                    to solve complex business 
                    problems.
                </p>
            </div>
            <div class="col-lg-6 info-box-right">
                <div class="cover"></div>
                <table>
                    <tr>
                        <td><img src="/media/bullet1.png"></td>
                        <td><div class="bullet-text">$5M+</div>
                            <div class="bullet-subtext">
                                Annual Demurrage Savings
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="/media/bullet1.png"></td>
                        <td>
                            <div class="bullet-text">$50M</div>
                            <div class="bullet-subtext">
                                Capex Savings
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="/media/bullet1.png"></td>
                        <td>
                            <div class="bullet-text">$2M</div>
                            <div class="bullet-subtext">
                                Savings MarineOps
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
</div>