<div class="leadership">
    <h1>Leadership Team</h1>
    <div class="row">
        <div class="col-lg-3">
            <div class="image"><img src="/media/cody.png"></div>
            <div class="name">Cody Cupp</div>
            <div class="role">Founder, CEO</div>
        </div>
        <div class="col-lg-3">
            <div class="image"><div class="image"><img src="/media/michael.png"></div></div>
            <div class="name">Michael Sparkman</div>
            <div class="role">COO</div>
        </div>
        <div class="col-lg-3">
            <div class="image"><div class="image"><img src="/media/trevor.png"></div></div>
            <div class="name">Trevor Pierce</div>
            <div class="role">Senior Architect</div>
        </div>
        <div class="col-lg-3">
            <!-- <div class="image"></div>
            <div class="name"></div>
            <div class="role"></div> -->
        </div>
    </div>
</div>