<div class="learn">
    <h1>Learn more by industry</h1>
    <div class="row">
        <div class="col-lg-4">
            <div class="image-box"></div>
            <div class="image-box-title">Oil & Gas</div>
            <p>Agile and scalable platforms 
                for workflow management, 
                data analytics, and ERP 
                platforms to build, deploy, and 
                mature your business 
                processes.</p>
        </div>
        <div class="col-lg-4">
            <div class="image-box"></div>
            <div class="image-box-title">Petrochemical</div>
            <p>Analytics applications that 
                leverage diagnostic models 
                informed by an analytics 
                engine to identify and address 
                areas of operational and asset 
                optimization.</p>
        </div>
        <div class="col-lg-4">
            <div class="image-box"></div>
            <div class="image-box-title">Manufacturing</div>
            <p>Next generation knowledge 
                engineering and master data 
                architecture management 
                tools to manage and govern 
                upstream data assets.</p>
        </div>
    </div>
</div>