<div class="main">
    <div class="row">
        <h1>Complete Bulk Liquid<br>Supply Chain Visibility</h1>
        <h4>Community based information<b>sharing for end-to-end</b><br> 
            optimized operations.</h4>
        <button data-bs-toggle="modal" data-bs-target="#contactModal"><b>Get In Touch</b></button>
    </div>
</div>