<div class="main">
    <div class="row">
        <h1>Complete Supply<br>Chain Visibility</h1>
        <h4>Leveraging your best data for <b>end-to-end</b><br> 
            industrial service operations.</h4>
        <button data-bs-toggle="modal" data-bs-target="#exampleModal"><b>Get In Touch</b></button>
    </div>
</div>