<div class="platform">
    <h1>Platform Solutions</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <table>
                    <tr>
                        <td>                
                            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 24 24">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                            </svg>
                        </td>
                        <td>
                            <div class="title">Data Visualizations</div>
                            <div class="byline">Data Integration Just Got Easier.</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table>
                    <tr>
                        <td>                
                            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 24 24">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                            </svg>
                        </td>
                        <td>
                            <div class="title">Downstream Operational Excellence</div>
                            <div class="byline">Made possible by leveraging simulation modeling and analytics.</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row" style="padding-bottom: 0px;">
            <div class="col-lg-12">
                <table>
                    <tr>
                        <td>                
                            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 24 24">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                            </svg>
                        </td>
                        <td>
                            <div class="title">Procurement as a Science</div>
                            <div class="byline">Better visibility across supply chains and vendors.</div>
                        </td>
                    </tr>
                </table>
            </div>
            <p class="subtext">
                Analyze and evaluate hundreds of suppliers to get a better understanding of supplier performance. Leverage Data Analysis and data integration toolkits. Identify which suppliers to leverage more, help 
                develop further, or eliminate.
                <button class="learn-more">
                    <span>Learn More</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="25" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                    </svg>
                </button>
            </p>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table>
                    <tr>
                        <td>                
                            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 24 24">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                            </svg>
                        </td>
                        <td>
                            <div class="title">Asset Lifecycle Management</div>
                            <div class="byline">Digital twins and predictive analytics to reduce costs & manage risk.</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>