<div class="contact-section">
    <div class="container">
        <div class="row">
            <div class="contact-inner">
                <img src="/media/bullet.png">
                <h1>Get in Touch</h1>
                <h4>To discover how the Acutum platform can leverage
                    your best data for end-to-end operations.
                </h4>
                <br>
                <form>
                    <input type="name" name="name" class="form-control-lg" placeholder="Full Name">
                    <input type="email" name="email" class="form-control-lg" placeholder="Email">
                    <textarea type="message" name="message" class="form-control-lg" rows="6" placeholder="Message"></textarea>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Yes, please sign me up for your newsletter.
                        </label>
                    </div>
                    <button class="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>