<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/media/Acutum-logo-master.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-right" id="navbarSupportedContent">
        	<button class="contact" data-bs-toggle="modal" data-bs-target="#contactModal"> 
        	Get In Touch
        	</button>
        </div>
    </div>
</nav>


