<%- include('./partials/global/header.ejs') -%>
<div class="container">
  <div class="row">
    <%- include('./partials/global/nav.ejs') -%>
    <%- include('./partials/global/contact.ejs') -%>

  </div>
</div>
<%- include('./partials/global/footer.ejs') -%>
