/* 

Brand Colors

Primary Blue - #4FB2CC
Primary Green - #95CE80
Dark Blue - #002956
Gray Blue - #EAEDEF
Dark Dark Gray - #202020

*/

@font-face {
    font-family: 'Effra';
    src: url('../fonts/Effra_Trial_Rg.ttf');
}

@font-face {
    font-family: 'Effra-light';
    src: url('../fonts/Effra_Trial_Lt.ttf');
}

@font-face {
    font-family: 'Effra-Med';
    src: url('../fonts/Effra_Trial_Md.ttf');
}

@font-face {
    font-family: 'Effra-Bold';
    src: url('../fonts/Effra_Trial_Bd.ttf');
}

body {
    font-family: 'Effra', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #002956;
}

h1 {
    font-family: 'Effra-Bold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 64px;
}

h2 {
    font-family: 'Effra-Bold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
}

h4 {
    font-size: 29px;
}
/*** Navbar ***/

.client-portal {
    width: auto;
    background-color: #4FB2CC;
    color: white;
    border-radius: 50px;
    padding: 7px 40px;
    font-family: 'Effra-Bold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 15px;
    border: none;
    position: absolute;
    right: 30px;
    top: 25px;
    /* box-shadow: 2px 2px 2px black; */
}

.navbar {
    padding: 25px;
}

.navbar-brand img {
    height: 40px;
    position: absolute;
    top: calc(50% - 20px);
} 

.nav-item {
    width: 125px;
    text-align: center;
}

.nav-link {
    color: #002956;
    font-family: 'Effra-Bold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 10px;
    font-size: 16px;
}

/*** Footer ***/

.contact {
    width: auto;
    background-color: #002956;
    color: white;
    border-radius: 50px;
    padding: 10px 40px;
    font-family: 'Effra', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 25px;
    border: none;
    box-shadow: 2px 2px 2px black;
}

.copyright {
    margin-right: 100px;
}

.footer {
    padding: 10px 25px;
    background: #002956;
    color: white;
    font-size: 12px;
    position: relative;
}

.footer a {
    color: white;
    font-size: 14px;
    padding: 0px 10px;
}

.footer table {
    vertical-align: middle;
    width: 100%;
}

.footer-item {
    padding-bottom: 10px;
}

.social {
    font-size: 50px;
    text-align: right;
}

.social i {
    margin: 0px 10px;
}

.subfooter {
    padding-top: 25px;
    padding-bottom: 25px;
}

.subfooter a {
    text-decoration: none;
    color: #002956;
}

.subfooter .logo {
    width: 65%;
    position: relative;
    margin-left: 20px;
}

.subfooter .title {
    color: #002956;
    font-family: 'Effra-Bold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    border-bottom: 0px;
    padding-top: 5px;
    margin-bottom: 10px;
}

.subfooter ul {
    list-style: none;
    padding-left: 0px;
    font-size: 14px;
}

/*** Contact Section ***/

.contact-inner {
    background-color: white;
    text-align: center;
    padding: 75px 100px;
    position: relative;
}

.contact-inner h4 {
    width: 75%;
    margin: auto;
}

.contact-inner img {
    position: absolute;
    top: -150px;
    left: -125px;
    width: 250px;
    z-index: 2;
}
.contact-section {
    background: #EAEDEF;
    padding: 100px 125px;
    overflow: hidden;
}

.form-control-lg, .form-check {
    width: 65%!important;
    margin: 15px auto;
    text-align: left;
}

textarea, .form-check-input {
    border: 2px solid #002956;
}
/*** Landing Page ***/

.cover {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,41,86,.8);
    font-size: 24px;
    padding: 100px 100px 100px 0px;
}

.dock {
    padding: 125px;
    background-image: url("/media/dock.jpg");
    background-size: cover;
}

.dock button {
    width: auto;
    background-color: #4FB2CC;
    color: white;
    border-radius: 50px;
    padding: 10px 30px 5px 30px;
    font-family: 'Effra', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 25px;
    margin-left: 5px;
    border: none;
    text-transform: uppercase;
    /* box-shadow: 2px 2px 2px black; */
    line-height: 18px;
}

.dock button svg {
    margin-left: 10px;
    margin-bottom: 3px;
}

.dock .text-box {
    padding: 75px;
    height: auto;
    width: 70%;
    margin: auto;
    background: white;
    font-size: 18px;
}

.expert .info-box-left {
    font-size: 32px;
    padding: 75px 125px;
    color: #002956;
}

.expert .info-box-right {
    background-image: url("/media/office.jpg");
    background-size: cover;
    position: relative;
    padding: 0px;
    color: white;
}

.bullet-text {
    line-height: 50px;
    padding-top: 40px;
}

.expert .info-box-right table {
    z-index: 2;
    position: relative;
    padding: 65px;
    margin: 50px 75px;
    font-size: 55px;
    font-family: 'Effra-Bold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.expert .info-box-right table tr:nth-child(even) {
    vertical-align: middle;
}

.expert .info-box-right table .bullet-subtext {
    font-size: 20px;
    font-family: 'Effra-Med', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* padding-bottom: 50px; */
}

.expert .info-box-right table img {
    height: 80px;
    padding-right: 20px;
}

.image-box {
    background: lightgreen;
    width: 100%;
    height: 250px;
}

.image-box-title {
    background: white;
    padding: 15px 25px;
    margin-top: -25px;
    width: 90%;
    border-bottom: 2px solid #002956;
    font-size: 26px;
    font-family: 'Effra-Med', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.leadership {
    padding: 100px 125px;
    background: #95CE80;
}

.leadership h1 {
    margin-bottom: 50px;
}

.leadership .image {
    background: #002956;
    height: 300px;
    width: 100%;
}

.leadership .image img {
    height: 100%;
}

.leadership .name {
    font-size: 26px;
    font-family: 'Effra-Med', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 15px 0px 0px 0px;
}

.leadership .role {
    font-family: 'Effra-Light', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: black;
}

.learn {
    padding: 100px 125px;
    background: #EAEDEF;
}

.learn h1 {
    font-family: 'Effra-Med', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 50px;
    font-size: 55px;
}

.learn p {
    padding: 25px 40px;
    font-size: 20px;
    font-family: 'Effra-light', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main {
    height: auto;
    color: #002956;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    background-image: url("/media/banner.png");
    background-size: cover;
    background-position: 0% 30%;;
    padding: 100px;
}

.main button, .submit {
    width: auto;
    background-color: #002956;
    color: white;
    border-radius: 50px;
    padding: 10px 40px;
    font-family: 'Effra', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 25px;
    margin-left: 15px;
    border: none;
    box-shadow: 2px 2px 2px black;
}

.main .container {
    padding-top: 100px;
    padding-bottom: 100px;
    z-index: 1;
    position: relative;
}

.platform {
    padding: 100px 125px;
    position: relative;
    z-index: 3;
}

.platform .byline {
    font-family: 'Effra-Med', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #4FB2CC;
    font-size: px;
}

.platform .container {
    padding: 50px;
}

.platform h1 {
    font-family: 'Effra-Med', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 0px;
    font-size: 55px;
}

.platform .learn-more {
    width: auto;
    border: 2px solid #002956;
    color: #002956;
    background-color: white;
    border-radius: 50px;
    padding: 10px 40px;
    font-family: 'Effra', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 25px;
    /* box-shadow: 2px 2px 2px black; */
}
.platform .row {
    border-bottom: 2px solid #002956;
    padding-bottom: 40px;
    margin-bottom: 25px;
}

.platform .title {
    font-family: 'Effra-Med', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 34px;
    border-bottom: 0px;
    text-transform: none;
    margin-bottom: 0px;
    padding-top: 5px;
}

.subtext {
    background: #f4f6f7;
    padding: 25px 75px;
    margin-top: 25px;
    margin-bottom: 0px;
}

.title {
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: 2px solid #002956;
    width: auto;
    display: inline-block;
    margin-bottom: 20px;
}

/*** Supply Chain ***/

.carousel-container {
    background: #002956;
    padding: 100px 125px;
    color: white;
}

.carousel-container .subtext button {
    width: auto;
    background-color: #4FB2CC;
    color: white;
    border-radius: 50px;
    padding: 10px 30px 5px 30px;
    font-family: 'Effra', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 5px;
    border: none;
    text-transform: uppercase;
    /* box-shadow: 2px 2px 2px black; */
    line-height: 18px;
    position: absolute;
    right: 25px;
    top: 15px;
}

.carousel-container table {
    width: 70%;
    margin: auto;
    font-size: 25px;
    font-family: 'Effra-Bold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.carousel-inner img {
    width: 75%;
    margin: auto;
}

.carousel-container .logo {
    width: 75px;
    margin: auto 25px 15px 5px;
}

.carousel-container .subtext {
    background: none;
    width: 75%;
    margin: auto;
    padding: 10px 20px;
    position: relative;
}

.logistics {
    background: #EAEDEF;
    padding: 50px 100px;
    position:relative;
}

.logistics .background {
    position: absolute;
    width: 48%;
    background: lightgreen;
    height:100%;
    top: 0;
    right: 0;
    background-image: url("/media/trucks.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.logistics .box {
    background: white;
    width: 60%;
    padding: 25px;
    color: #002956;
    box-shadow: 2px 2px 4px gray;
    position: relative;
    z-index: 3;
}

.logistics .box p {
    margin-bottom: 0px;
}

.logistics .text-box {
    width: 41%;
    margin-top: 25px;
}

.main-supply {
    height: auto;
    color: #002956;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    background-image: url("/media/supply-banner.png");
    background-size: contain;
    /* background-position: 0% 30%;; */
    padding: 100px;
    background-repeat: no-repeat;
}

.main-supply h4, .main-data h4 {
    margin-top: 75px;
    font-size: 24px;
}

.simulation, .transparency {
    padding-bottom: 50px;
}
.simulation .info-box-right, .transparency .info-box-right {
    font-size: 32px;
    padding: 75px 100px;
    color: #002956;
}

.simulation .placeholder, .transparency .placeholder {
    height: 250px;
    width:400px;
    background: lightgreen;
    margin: auto;
}

/*** Data Analytics ***/

.main-data {
    height: auto;
    color: #002956;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    background-image: url("/media/data-banner.png");
    background-size: contain;
    /* background-position: 0% 30%;; */
    padding: 100px;
    background-repeat: no-repeat;
}