<div class="logistics">
    <div class="container">
        <div class="row">
            <div class="box">
                <p>With the largest network of logistics tracking data and proprietary machine learning technology, our real-time visibility platform gives supply chain leaders the power to maximize effciency
                </p>
            </div>
            <div class="text-box">
                <p><b>Lower Operating Costs:</b> Transportation charges 
                    add up quickly. FourKites helps you minimize 
                    those risks by reducing dwell and preventing 
                    product loss on temperature-controlled 
                    shipments.</p>
                <p><b>Deliver Superior Service:</b> Increase your on-time 
                    delivery rate and give your customers full visibility 
                    along the way, with automated status 
                    notifications and live tracking dashboards.</p>
                <p><b>Streamline Digital Workflows:</b> With flexible 
                    systems integrations and digital collaboration 
                    features like instant messaging, electronic 
                    document collection and in-depth analytics.</p>
            </div>
        </div>
    </div>
    <div class="background">

    </div>
</div>