<div class="main-supply">
    <div class="row">
        <h1>Supply Chain<br>Optimization</h1>
        <h4>Risk-resilient and sustainable operations<br> 
            through data-driven insights.</h4>
    </div>
</div>