<div class="main-data">
    <div class="row">
        <h1>Data<br>Analytics</h1>
        <h4>Risk-resilient and sustainable operations<br> 
            through data-driven insights.</h4>
    </div>
</div>