<div class="transparency">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <div class="placeholder">
                    <br><br><br>
                    <h5>Video Placeholder</h5>
                </div>
            </div>    
            <div class="col-lg-6 info-box-right">
                <h4>Driving transparency for 
                    reduced operational costs, 
                    demmurage savings, and 
                    capital expense reduction.</h4>
            </div>
        </div>
    </div>
</div>