<div class="simulation">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <div class="placeholder">
                    <video id="AcutumIntro" x-webkit-airplay="allow" controls width="640" height="360" src="/media/video/acutum-demo.mp4"></video>
                </div>
            </div>    
            <div class="col-lg-6 info-box-right">
                <h4>Acutum.io is a unique platform built to
                strengthen and expand industry knowledge.</h4>
            </div>
        </div>
    </div>
</div>


    
