<div class="simulation">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <div class="placeholder">
                    <br><br><br>
                    <h5>Video Placeholder</h5>
                </div>
            </div>    
            <div class="col-lg-6 info-box-right">
                <h4>Acutum.io brings unique data – in-transit and in terminals,
                	developed for and by product owners to further strength
                	industry knowledge.</h4>
            </div>
        </div>
    </div>
</div>