<div class="simulation">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <div class="placeholder">
                    <br><br><br>
                    <h5>Video Placeholder</h5>
                    <video autoplay>
  						<source src="/media/video/acutum-demo.mp4" type="video/mp4">
					</video>
                </div>
            </div>    
            <div class="col-lg-6 info-box-right">
                <h4>Acutum.io is a unique platform for, and by product 
                	owners, to strengthen industry knowledge.</h4>
            </div>
        </div>
    </div>
</div>


