<div class="logistics">
    <div class="container">
        <div class="row">
            <div class="box">
                <p>The power of community-based data sharing
                </p>
            </div>
            <div class="text-box">
                <p><b>Decreased demurrage and waiting costs:</b> 
                	Transport charges add up quickly. Acutum.io 
                	helps you minimize risk by reducing demurrage 
                	and decreasing waiting costs. More transparency 
                	can reduce costs by up to 20%.</p>
                <p><b>Efficiency and reliability:</b> Better planning and  
                    move management while giving your customers full visibility 
                    along the way using self-service dashboards and live data 
                    integrations.</p>
                <p><b>Streamline Digital Workflows:</b> With flexible 
                    systems integrations and digital collaboration 
                    features, like electronic document collection and 
                    in-depth analytics.</p>
            </div>
        </div>
    </div>
    <div class="background">

    </div>
</div>