<div class="video-panel">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <div class="">
                    <video id="AcutumIntro" x-webkit-airplay="allow" src="/media/video/acutum-demo.mp4" autoplay muted></video>
                </div>
            </div>    
            <div class="col-lg-6 info-box-right">
                <h4>Acutum.io is a unique platform built to
                strengthen and expand industry knowledge.</h4>
            </div>
        </div>
    </div>
</div>

