<div class="video-panel">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <div class="">
                    <video id="AcutumIntro" x-webkit-airplay="allow" src="\media\video\9483.acutum_480p.mp4" autoplay muted></video>
                </div>
            </div>    
            <div class="col-lg-6 info-box-right">
                <div class="meetings-iframe-container" data-src="https://meetings.hubspot.com/cody-cupp?embed=true"></div>
                <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
            </div>
        </div>
    </div>
</div>

